.game-board{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 800px;
  width: 800px;
  border: 2px solid rgb(0, 0, 0);
}

.outer-board{
  display: flex;
  justify-content: center;
}