.tile{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: greenyellow;
  height: 50px;
  width: 50px;
  min-width: 50px;
  min-height: 50px;
  font-size: larger;
  font-weight: bold;
}

.tile.clicked{
  background-color: burlywood;
}

.tile.flagged{
  color: red;
}

.tile.tile-even{
  background-color: green;
}

.tile.tile-even.clicked{
  background-color: brown;
}

.one-bomb{
  color: rgb(55, 55, 255);
  text-shadow: 1px 1px 2px black;
  font-size: x-large;
}

.two-bombs{
  color: rgb(16, 143, 16);
  text-shadow: 1px 1px 2px black;
  font-size: x-large;
}

.three-or-more-bombs{
  color: rgb(238, 19, 19);
  text-shadow: 1px 1px 2px black;
  font-size: x-large;
}