.tile{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: greenyellow;
  height: 75px;
  width: 75px;
  border: 1px solid green;
  min-width: 75px;
  min-height: 75px;
  font-size: larger;
  font-weight: bold;
}

.tile.clicked{
  background-color: burlywood;
  border: 1px solid brown;
}

.tile.flagged{
  color: red;
}

.tile.tile-even{
  background-color: green;
  border: 1px solid darkgreen;
}

.tile.tile-even.clicked{
  background-color: brown;
  border: 1px solid rgb(122, 30, 30);
}